/*Reset*/
body {
    background-color: #22b854; 
    margin: 0;                 /* Deja el fondo hasta el borde */
    padding: 10px;             /* Corre los títulos hacia adentro */
    font-family: 'Open Sans', sans-serif; /*Uso de fuente de google fonts*/
    font-size: 16px; /* Tamaño de la letra*/
}

/*Header*/
header h1 {
    text-align: center; /* Centra el texto del título principal */
    margin-bottom: 15px; /* Le da un poquito de aire abajo antes del menú */
}

/*Menú de navegación*/
nav ul {
    display: flex;
    justify-content: center; /* Centra todo el menú de navegación */
    list-style: none;
    gap: 25px;
}

/*Seccion Contacto*/
/* Lista de contacto */
.contacto-lista {
    list-style: none; 
    padding-left: 0;
}

.contacto-lista li {
    margin-bottom: 12px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/*Redes Sociales*/
.redes-lista {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 20px; 
}

.redes-lista li {
    display: inline-block;
}